// custom variables
$primary: #055160;
$secondary: #219aaf;

$accordion-bg: lightgray;
$accordion-button-color: white;
$accordion-button-bg: #055160;
$accordion-button-active-bg: #219aaf;
$accordion-button-active-color: black;

$card-bg: transparent;
//$card-color: white;

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';